@import "style.css";
@import "animate.min.css";
@import "swiper-bundle.min.css";
@import "../fonts/mont/stylesheet.css";
@import "../fonts/PFRegalDisplayPro/stylesheet.css";
@import "../fonts/Bickham/stylesheet.css";

html {
    -webkit-font-smoothing: antialiased;
}

.wow {
    visibility: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.content-wrapper {
    /*background-image: url('../img/body-bg.jpg');*/
    background-color: #FEFAF9;

}

body {
    font-family: "Mont";
    min-height: 100vh;
}

.box {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.header {
    background-position: center;
    background-image: url('../img/header-bg.png');
    height: auto;
}

.header-top {
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-top_col {
    display: flex;
    align-items: center;
}

.main-logo {
    font-family: 'Bickham Script One';
    font-weight: normal;
    font-style: italic;
    color: #000000;
    text-decoration: none;
    font-size: 42px;
    line-height: 26px;
    margin-right: 35px;
}

.main-logo span {
    display: block;
}

.main-logo span:nth-child(2) {
    margin-left: 20px;
}

.main-logo_text {
    font-size: 14px;
    color: #7d7d7d;
    display: block;
    width: 130px;
    margin-right: 45px;
}

.header-top_social {
    display: flex;
    align-items: center;
}

.header-top_social a {
    display: inline-block;
    text-decoration: none;
    margin: 0 7px;
    opacity: .9;
}

.header-top_social a:hover {
    opacity: 1;
}

.header-top_address {

}

.header-top_address strong {
    color: #473c3a;
    font-size: 18px;
}

.header-top_address span {
    display: block;
    color: #7d7d7d;
    font-size: 16px;
}

.header-top_phone {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-top_phone .phone {
    color: #473c3a;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.header-top_phone .order-service_link {
    font-size: 15px;
    text-decoration: none;
    color: #d67867;
    display: inline-block;
    border-bottom: #d67867 1px solid;
    font-weight: 600;
    transition: border-bottom-color ease .3s;
}

.header-top_phone .order-service_link:hover {
    border-bottom-color: transparent;
}

.main-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -60px;
}

.main-menu li a {
    display: inline-block;
    padding: 20px 30px;
    font-weight: 500;
    font-family: 'PF Regal Display Pro';
    text-decoration: none;
    color: #473c3a;
    font-size: 20px;
    line-height: 20px;
    border: transparent 2px solid;
    border-radius: 45px;
}

.main-menu li a:hover {
    border-color: #d67867;
}

.header-bottom {
    position: relative;
    height: 670px;
}

.header-people_img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header-bottom_content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-bottom_content h3 {
    font-family: 'PF Regal Display Pro';
    font-weight: 400;
    color: #473c3a;
    font-size: 48px;
    line-height: 1.2;
    margin: 0 0 30px;
}

.header-bottom_content h4 {
    font-size: 86px;
    font-weight: 500;
    font-style: italic;
    font-family: 'PF Regal Display Pro';
    line-height: 1.2;
    margin: 0 0 30px;
    background-color: #b03f2e;
    background-image: linear-gradient(0deg, #b03f2e, #e69f87);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-bottom_content h5 {
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
    color: #5a5a5a;
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 30px;
}

.header-bottom_row {
    display: flex;
    align-items: flex-start;
}

.header-bottom_row a {
    width: 326px;
    display: block;
    text-decoration: none;
    background-position: top center;
    background-image: url('../img/header_service_btn.png');
    color: #ffffff;
    height: 98px;
    text-align: center;
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
    font-size: 26px;
    padding-top: 15px;
}

.header-bottom_row a:hover {
    background-image: url('../img/header_service_btn_hover.png');
}

.header-bottom_row ul {
    list-style-type: none;
    background-color: #eadbd3;
    padding: 40px;
    border-radius: 10px;
    margin: 0 0 0 125px;
}

.header-bottom_row ul li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 25px;
    color: #414141;
    font-size: 17px;
}

.header-bottom_row ul li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 13px;
    height: 13px;
    background-image: url('../img/header-marker.png');
}

.header-bottom_row ul li:last-of-type {
    margin-bottom: 0;
}

.leaf_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
}


.groups {
    padding: 115px 0px 160px;
    background-color: #fff6f6;
    position: relative;
}

.groups-title {
    color: #b95342;
    text-align: center;
    margin: 0 0 45px;
    font-size: 50px;
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
}

.groups-title span {
    color: #473b39;
    font-style: normal;
}

.groups-wrapper {
    display: flex;
    justify-content: space-between;
}

.group-item {
    width: 345px;
    background-color: #fffeff;
    -webkit-box-shadow: 0px 0px 46px 0px rgb(182 169 166 / 15%);
    -moz-box-shadow: 0px 0px 46px 0px rgba(182, 169, 166, 0.15);
    box-shadow: 0px 0px 46px 0px rgb(182 169 166 / 15%);
    border-radius: 10px;
    overflow: hidden;
}

.group-item_img {
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.group-item_content {
    padding: 35px 35px 45px;
}

.group-item_title {
    color: #473b39;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.group-item_description {
    color: #707070;
    font-size: 17px;
    margin-bottom: 15px;
}

.group-item_info {
    margin-bottom: 30px;
}

.group-item_info div {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #707070;
    margin-bottom: 5px;
}

.group-item_info div img {
    margin-right: 10px;
}

.group-item_info div strong {
    color: #473b39;
    margin-right: 5px;
    font-family: 'PF Regal Display Pro';
    font-weight: 700;
    font-style: italic;
    font-size: 19px;
}

.group-item_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 74px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-family: 'PF Regal Display Pro';
    font-weight: 700;
    color: #473b39;
    font-size: 20px;
    border: #d37261 2px solid;
    border-radius: 40px;
    transition: background-color ease .3s;
}

.group-item_btn:hover {
    color: #ffffff;
    background-color: #d37261;
}

.leaf_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
}

.footer {
    background-color: #473C3A;
    padding: 85px 0 75px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom_license {
    color: #cbbdba;
    width: 180px;
    font-size: 12px;
}

.footer-bottom_politika {
    text-align: center;
}

.footer-bottom_politika a {
    color: #cbbdba;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    border-bottom: #cbbdba 1px solid;
}

.footer-bottom_politika a:hover {
    color: #b5a19d;
    border-bottom-color: transparent;
    transition: all ease .3s;
}

.footer-bottom_made {
    color: #cbbdba;
    font-size: 12px;
}

.footer-bottom_made a {
    font-weight: bold;
    color: #fefafa;
    display: block;
    text-decoration: none;
    font-size: 22px;
    transition: color ease .3s;
}

.footer-bottom_made a:hover {
    color: #b95342;
}

.social {
    position: relative;
    height: 800px;
    background-image: url('../img/social-bg.jpg');
    background-position: center;
}

.social .box {
    height: 100%;
    min-height: 100%;
}

.social-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.social-text h2 {
    display: inline-block;
    max-width: 500px;
    line-height: 58px;
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
    color: #b95342;
    font-size: 58px;
    margin-bottom: 40px;
}

.social-text h2 span {
    color: #473b39;
    font-weight: 500;
    font-style: normal;
    line-height: 58px;
}

.social-text_info {
    max-width: 380px;
    color: #5a5a5a;
    font-size: 23px;
    margin-bottom: 35px;
}

.social-people {
    display: block;
    position: absolute;
    bottom: 0;
    right: -15px;
    z-index: 1;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    display: block;
    width: 55px;
    height: 55px;
    text-decoration: none;
    background-position: center;
    background-size: contain;
    margin-right: 20px;
}

.social-icons_instagram {
    background-image: url('../img/instagram.png');
}

.social-icons_whatsup {
    background-image: url('../img/wt.png');
}

.social-icons_vkontakte {
    background-image: url('../img/vk.png');
}

.social-icons_telegram {
    background-image: url('../img/tg.png');
}

.social-icons a:hover {
    opacity: .8 !important;
    transform: scale(1.1);
}


.features {
    padding: 145px 0px 140px;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
}

.features-wrapper_item {
    width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.features-wrapper_item span {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #5a5a5a;
    margin-top: 25px;
}


.garantee {
    background-color: #fefafa;
    padding: 120px 0px 75px;
}

.garantee-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.garantee-text {
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
    color: #b95342;
    font-size: 45px;
    line-height: 1.1;
}

.garantee-text span {
    font-style: normal;
    color: #473b39;
}

.garantee-text_last {
    color: #5a5a5a;
    font-size: 25px;
}

.command {
    padding: 40px 0px;
}

.command-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}

.command-title_left {
    color: #b95342;
    font-size: 48px;
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
    line-height: 1.1;
}

.command-title_right {
    color: #5a5a5a;
    font-size: 26px;
    line-height: 1.2;
    padding-top: 10px;
}

.command-title_left span {
    display: block;
    color: #473b39;
    font-weight: 500;
    font-style: normal;
}

.command-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    /*align-items: flex-start;*/
}

.command-wrapper_col {
    width: 345px;
    background-color: #fffeff;
    -webkit-box-shadow: 0px 0px 46px 0px rgba(182, 169, 166, 0.15);
    -moz-box-shadow: 0px 0px 46px 0px rgba(182, 169, 166, 0.15);
    box-shadow: 0px 0px 46px 0px rgba(182, 169, 166, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

.command-col_img {
    width: 100%;
    height: 285px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.command-col_head {
    text-align: center;
}

.command-col_head h3 {
    text-align: center;
    font-size: 25px;
    color: #473b39;
    font-weight: bold;
    font-family: 'PF Regal Display Pro';
    line-height: 1.2;
    margin: 0 0 10px;
}

.command-col_head h4 {
    font-size: 19px;
    color: #707070;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}

.command-col_list {
    padding: 20px 30px 25px;
}

.command-col_list div {
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    color: #646464;
    padding-left: 20px;
}

.command-col_list div:before {
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    content: '';
    width: 7px;
    height: 7px;
    background-image: url('../img/command_marker.png');
}

.command-all {
    text-align: center;
}

.command-all a {
    display: inline-block;
    color: #fff9f8;
    font-size: 19px;
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    width: 254px;
    height: 90px;
    line-height: 19px;
    text-align: center;
    padding-top: 25px;
    background-image: url('../img/command-all.png');
}

.command-all a:hover {
    background-image: url('../img/command-all-active.png');
    background-position: 1px 2px;
}

.reviews {
    padding: 40px 0px;
}

.reviews-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}

.reviews-title_left {
    color: #b95342;
    font-size: 48px;
    font-family: 'PF Regal Display Pro';
    font-weight: 500;
    font-style: italic;
    line-height: 1.1;
}

.reviews-title_right {
    color: #5a5a5a;
    font-size: 26px;
    line-height: 1.2;
    padding-top: 10px;
}

.reviews-title_left span {
    display: block;
    color: #473b39;
    font-weight: 500;
    font-style: normal;
}

.review-item {

}

.review-item a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.review-item_img {
    position: relative;
}

.review-video .review-item_img:before {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url('../img/video-btn.png');
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review-video .review-item_img:hover:before {
    background-image: url('../img/video-btn-active.png');
}

.review-item img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.review-item_name {
    font-weight: bold;
    font-size: 20px;
    color: #473b39;
}

.reviews-pagination {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    justify-content: center;
    margin-top: 50px;
}

.swiper-button-prev, .swiper-button-next {
    background: none;
    height: 25px;
    top: 0;
    margin-top: 0px;
}

.pagination-digits {
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-digits_current {
    color: #b95342;
}

.pagination-digits_del {
    color: #8d8d8d;
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
}

.pagination-digits_total {
    color: #8d8d8d;
}

.reviews-pagination .swiper-button-prev, .reviews-pagination .swiper-button-next {
    position: relative;
}

.reviews-pagination .swiper-button-disabled svg line, .reviews-pagination .swiper-button-disabled svg polyline {
    stroke: #8d8d8d !important;
}


.burger-menu {
    display: none;
}

.reviews__prev {

}


@media (max-width: 575px) {
    .header {
        background-image: url('../img/header-bg-mob.jpg');
        background-size: cover;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        width: 30px;
    }

    .burger-menu span {
        width: 100%;
        height: 2px;
        background-color: #d68f7e;
        display: block;
        margin-bottom: 6px;
    }

    .burger-menu:hover span {
        background-color: #c06c5c;
    }

    .header-top {
        padding-top: 15px;
        flex-direction: column;
    }

    .main-logo {
        font-size: 29px;
        line-height: 18px;
        margin-right: 0px;
    }

    .main-logo span:nth-child(2) {
        margin-left: 15px;
    }

    .main-logo_text {
        font-size: 10px;
        margin-bottom: 0px;
        width: 90px;
    }

    .header-top_social {
        display: none;
    }

    .header-top_col {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .header-top_col:nth-child(2) {
        flex-direction: column;
        margin-top: 30px;
    }

    .header-top_address {
        text-align: center;
    }

    .header-top_phone .order-service_link {
        display: none;
    }

    .header-top_phone {
        margin-left: 0;
    }

    .main-menu {
        display: none;
    }

    .header-bottom_content h3 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .header-bottom_content h4 {
        font-size: 31px;
        margin-bottom: 10px;
    }

    .header-bottom_content h5 {
        font-size: 18px;
    }

    .header-bottom {
        height: auto;
    }

    .header-people_img {
        position: relative;
        width: 230px;
        margin: 0 auto;
        display: block;
    }

    .header-bottom_row ul {
        position: absolute;
        bottom: -430px;
        margin: 0;
        width: 100%;
        padding: 30px 25px;

    }

    .header-bottom_row ul li {
        font-size: 14px;
    }

    .header-bottom_row a {
        background-size: contain;
        background-repeat: no-repeat;
        width: 230px;
        font-size: 18px;
        height: 70px;
        padding-top: 12px;
    }

    .header-bottom_row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .features-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .features-wrapper_item {
        margin-bottom: 25px;
    }

    .features-wrapper_item img {

    }

    .groups {
        padding: 50px 0px 50px;
    }

    .groups-title {
        font-size: 28px;
    }

    .groups-wrapper {
        flex-direction: column;
    }

    .group-item {
        width: 100%;
        margin-bottom: 25px;
    }

    .group-item_title {
        font-size: 16px;
    }

    .group-item_description {
        font-size: 14px;
    }

    .group-item_info div {
        font-size: 14px;
    }

    .group-item_info div strong {
        font-size: 16px;
    }

    .group-item_btn {
        font-size: 16px;
        width: 190px;
        height: 64px;
    }

    .leaf_2 {
        width: 70%;
        transform: translateY(30%);
    }


    .command-title {
        flex-direction: column;
    }

    .command-title_left {
        text-align: center;
        width: 100%;
        font-size: 28px;
    }

    .command-title_right {
        text-align: center;
        font-size: 18px;
        width: 100%;
    }

    .command-wrapper {
        flex-direction: column;
    }

    .command-wrapper_col {
        margin-bottom: 25px;
    }

    .reviews-title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .reviews-title_left {
        font-size: 28px;
        text-align: center;
    }

    .reviews-title_right {
        font-size: 18px;
        text-align: center;
    }

    .review-item img {
        margin-bottom: 20px;
    }

    .review-item_name {
        font-size: 18px;
    }

    .reviews-pagination {
        display: none;
    }
}
